/* Dark/light mode Button */

.theme-switch-wrapper {
  position: fixed;
  top: 25px;
  right: 50px;
  display: flex;
  align-items: center;
}

em {
  font-style: normal;
  margin-top: 1px;
  margin-right: 10px;
  align-self: self-start;
}

.theme-switch {
  display: inline-block;
  height: 24px;
  position: relative;
  width: 35px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: var(--primary-lighter);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: var(--light);
  bottom: 3px;
  content: "";
  height: 18px;
  left: 3px;
  position: absolute;
  transition: 0.4s;
  width: 18px;
}

input:checked + .slider {
  background-color: var(--secondary);
}

input:checked + .slider:before {
  transform: translateX(11px);
}

.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}
