.Background {
  background-image: url("../EmptyTodos/empty-todo-list.png");
  background-size: 2300px;
  background-repeat: no-repeat;
  background-position: right -700px top;
  opacity: 80%;
  position: fixed;
  top: 0.1px;
  left: -10px;
  right: 0.1px;
  bottom: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* backdrop-filter: blur(80px); */
}

.ModalBackground {
  background: transparent;
  position: fixed;
  top: 0.1px;
  left: -10px;
  right: 0.1px;
  bottom: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(80px);
}

form {
  width: 90%;
  max-width: 500px;
  border-radius: 20px;
  background-color: var(--form-background);
  margin: 0 auto;
  padding: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

label {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: var(--light);
  margin-bottom: 26px;
}

textarea {
  background-color: var(--primary-light);
  border: none;
  border-radius: 8px;
  /* box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25); */
  color: var(--light);
  font-size: 18px;
  padding: 15px;
  height: 150px;
  width: calc(100% - 15px);

  font-family: "Montserrat";
}

textarea::placeholder {
  color: var(--font-dark);
  font-family: "Montserrat";
  font-weight: 400;
}

textarea:focus {
  outline-color: var(--secondary);
}

.TodoForm-buttonContainer {
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 300px;
}

.TodoForm-button {
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  color: var(--light);
  font-weight: 400;
  width: 120px;
  height: 48px;
  border-radius: 6px;
  border: none;
  font-family: "Montserrat";
  transition: 0.3s;
}

.TodoForm-button__add {
  background: var(--secondary);
  /* box-shadow: 0px 5px 25px #6fe4b124; */
  color: var(--primary-light);
}

.TodoForm-button__cancel {
  background: transparent;

  border: 1px solid transparent;
}

.TodoForm-button__add:hover {
  box-shadow: 0px 0px 0px 2px var(--primary-light) inset,
    0px 0px 0px 1px var(--secondary);
  color: #232228a0;
}

.TodoForm-button__cancel:hover {
  background: transparent;
  border: 1px solid var(--secondary);
  color: var(--secondary);
}
