.image-section {
  position: relative;
  width: 40%;
  margin: 50px;
  background: var(--primary-light);
  border-radius: 20px;
  /* border: 0.5px solid #6fe4b1; */
}

.image-section p {
  text-align: center;
  color: var(--light);
  margin: 0;
}

.image-section p:nth-child(1) {
  font-size: 24px;
  padding-top: 80px;
  font-style: italic;
}

.image-section p:nth-child(2) {
  font-size: 64px;
  font-weight: bold;
}

.image-section p:nth-child(3) {
  font-size: 24px;
  font-style: italic;
}
.image-section .credits {
  margin-top: 30px;
  font-size: 14px;
  color: var(--light);
  opacity: 70%;
}

.image-section a {
  font-size: 14px;
  font-style: italic;
  text-decoration: none;
  color: var(--light);
  transition: 0.15s ease-in-out;
}
.image-section a:hover {
  opacity: 70%;
  text-decoration: underline;
}

.image-section .emptyTodo-image {
  object-fit: cover;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 90%;
  height: 50vh;
  margin: 20px auto;
}

.main-section {
  width: 100%;
  min-width: 350px;
  max-width: 500px;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .image-section {
    display: none;
  }
  .main-section {
    width: 50%;
  }
}
