.LoadingTodo-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  margin-top: 24px;
  color: var(--primary-light);
}

.LoadingTodo-text {
  margin: 24px 0 24px 24px;
  width: calc(100% - 120px);
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.LoadingTodo-container {
  background-image: radial-gradient(
    circle,
    var(--primary),
    var(--primary-medium),
    var(--primary-light),
    var(--primary-lighter)
  );
  background-size: 200% 200%;
  animation: loadingAnimation 3s ease-in-out infinite;
}

@keyframes loadingAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
