/* Dark/light mode Button */

.header-wrapper {
  position: fixed;
  top: 15px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-items: center;
  min-width: 300px;
}

.header-wrapper p {
  color: var(--primary);
  font-size: 14px;
  margin-right: 20px;
}

/* GITHUB */

.icon {
  background-color: var(--secondary);
  border-radius: 30%;
  margin-right: 20px;
  padding-left: 4px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 22px;
  display: inline-block;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: var(--primary);
  text-decoration: none;
}
.tooltip {
  position: absolute;
  top: 0;
  right: 60px;
  line-height: 1.5;
  font-size: 14px;
  background-color: var(--secondary);
  color: var(--secondary);
  padding: 5px 8px;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: var(--secondary);
  top: -3px;
  left: 40%;
  transform: translate(50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.icon:hover .tooltip {
  top: 45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.github:hover,
.github:hover .tooltip,
.github:hover .tooltip::before {
  background-color: var(--primary-lighter);
  color: var(--light);
}

/* Theme switch */

em {
  font-style: normal;
  margin-right: 5px;
}

.theme-switch {
  display: inline-block;
  margin-bottom: 0;
  height: 24px;
  position: relative;
  width: 35px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: var(--primary-lighter);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: var(--light);
  bottom: 3px;
  content: "";
  height: 18px;
  left: 3px;
  position: absolute;
  transition: 0.4s;
  width: 18px;
}

input:checked + .slider {
  background-color: var(--secondary);
}

input:checked + .slider:before {
  transform: translateX(11px);
}

.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}

@media (min-width: 500px) {
  .header-wrapper p {
    color: var(--font-dark);
  }
}

@media (min-width: 1000px) {
  .header-wrapper {
    right: 50px;
  }
}
