.ModalBackground {
  background: transparent;
  position: fixed;
  top: 0.1px;
  left: -10px;
  right: 0.1px;
  bottom: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(12px);
}
