.ModalBackground {
  background: rgba(188, 188, 188, 0.3);
  position: fixed;
  top: 0.1px;
  left: -10px;
  right: 0.1px;
  bottom: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  backdrop-filter: blur(6px);
}
