.Icon-container {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
}

.Icon-container__check {
  position: absolute;
  left: 12px;
  background-color: var(--secondary-dark);
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
  transform: rotate(0);
  transition: 0.3s;
}
.Icon-container__uncheck {
  position: absolute;
  left: 12px;
  background-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
  transform: rotate(0);
  transition: 0.3s;
}

.Icon-container__edit {
  position: absolute;
  right: 64px;
  border-radius: 15px;
  transform: rotate(0);
  transition: 0.3s;
}

.Icon-container__trash {
  position: absolute;
  right: 12px;
  background-color: var(--error-dark);
  border-radius: 15px;
  transform: rotate(0);
  transition: 0.3s;
}

.Icon-svg {
  width: 24px;
  height: 24px;
  transition: 0.3s;
}

.Icon-svg__check {
  width: 30px;
  height: 30px;
  /* stroke: #272c34; */
}

.Icon-svg__edit {
  stroke: var(--tertiary);
}

.Icon-svg__trash {
  stroke: var(--error);
}

.Icon-svg__hide {
  stroke: var(--secondary);
}

.Icon-svg__show {
  stroke: var(--secondary);
}

.Icon-container:hover .Icon-svg__check {
  stroke: var(--secondary);
}

.Icon-container__check:hover {
  transform: rotate(360deg);
}

.Icon-container:hover .Icon-svg__uncheck {
  stroke: var(--error);
}

.Icon-container__uncheck:hover {
  transform: rotate(180deg);
}

.Icon-container:hover .Icon-svg__edit {
  stroke: var(--primary);

  transform: rotate(360deg);
}

.Icon-container__edit:hover {
  background-color: var(--tertiary);
}

.Icon-container:hover .Icon-svg__trash {
  stroke: var(--error-dark);

  transform: rotate(360deg);
}

.Icon-container__trash:hover {
  background-color: var(--error);
}

/* .Icon-check--active {
  border-color: #6d6b72;
}
.Icon-check--active:hover {
  color: #6d6b72;
  border-color: #6d6b72;
  transform: rotate(0);
}*/
