form {
  width: 90%;
  max-width: 400px;
  border-radius: 20px;
  background-color: #171719e6;
  padding: 33px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

label {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: #e9edf1;
  margin-bottom: 26px;
}

textarea {
  background-color: #232228;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
  color: #e9edf1;
  font-size: 18px;
  padding: 15px;
  height: 96px;
  width: calc(100% - 25px);

  font-family: "Montserrat";
}

textarea::placeholder {
  color: #6d6b72;
  font-family: "Montserrat";
  font-weight: 400;
}

textarea:focus {
  outline-color: #6fe4b1;
}

.TodoForm-buttonContainer {
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.TodoForm-button {
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  color: #e9edf1;
  font-weight: 400;
  width: 120px;
  height: 48px;
  border-radius: 6px;
  border: none;
  font-family: "Montserrat";
}

.TodoForm-button__add {
  background: #6fe4b1;
  box-shadow: 0px 5px 25px #6fe4b124;
  color: #232228;
}

.TodoForm-button__cancel {
  background: transparent;
}
