.HideShow-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  transform: scale(1);
  transition: 0.15s ease-in-out;
}

.HideShow-container:hover {
  opacity: 60%;
}

.HideTodos {
  background: transparent;
  color: var(--secondary);
  border: none;
  cursor: pointer;
  font-family: var(--main-font);
  display: flex;
  align-items: center;
  padding-right: 16px;
}

.HideShow-container:hover {
  transform: scale(1.05);
}
