.HideShow-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

.HideShow-container span {
  color: var(--secondary);
}

.HideTodos {
  background: transparent;
  color: var(--secondary);
  border: none;
  cursor: pointer;
  font-family: var(--main-font);
}

.HideShow-container:hover {
  transform: scale(1.05);
}
