* {
  box-sizing: border-box;
}

body {
  position: fixed;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  background: var(--primary);
  color: var(--light);
  font-family: var(--main-font);
}

#root {
  margin: 0 24px;
  position: relative;
  height: 100vh;
  min-height: 100vh;
  display: flex;
}

h1 {
  width: 100%;
  font-size: 60px;
  margin-top: 50px;
  margin-bottom: 10px;
  text-align: center;
  background-image: linear-gradient(
    to right bottom,
    #62f4f9,
    var(--secondary),
    #fe7347
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

@media (min-width: 1150px) {
  #root {
    padding-inline: 7%;
  }
}
