:root {
  --primary: #171719;
  --primary-medium: #1d1c20;
  --secondary: #6fe4b1;
  --secondary-dark: #272c34;
  --tertiary: #db7252;
  --primary-light: #232228;
  --primary-lighter: #36353d;
  --form-background: #171719c7;
  --font-dark: #6d6b72;
  --light: #e9edf1;
  --error: #cd4060;
  --error-dark: #3a262f;
  --main-font: "Montserrat", Arial, Helvetica, sans-serif;
}

[data-theme="light"] {
  --primary: #e7e7f0;
  --primary-medium: #d8d8e2;
  --secondary: #4ea37e;
  --secondary-dark: #e2f1ea;
  --tertiary: #db7252;
  --primary-light: #d7d7e1;
  --primary-lighter: #ccccda;
  --form-background: #e7e7f0c7;
  --font-dark: #8e8b94;
  --light: #171719;
  --error: #611d2d;
  --error-dark: #d8beca;
  --main-font: "Montserrat", Arial, Helvetica, sans-serif;
}
