.TodoSearch {
  background: transparent;
  border-radius: 12px;
  border: 1px solid var(--font-dark);
  margin-inline: 15%;
  height: 44px;
  width: 70%;
  font-size: 18px;
  padding-inline: 15px;
  font-family: "Montserrat";
  font-weight: 400;
  color: var(--light);
  transition: 0.3s;
}

.TodoSearch::placeholder {
  color: var(--font-dark);
  font-family: "Montserrat";
  font-weight: 400;
}

.TodoSearch:hover {
  background: var(--primary-light);
  border-color: var(--primary-light);
  outline: none;
  margin-inline: 10%;
  width: 80%;
}

.TodoSearch:focus {
  background: var(--primary-light);
  border-color: var(--primary-light);
  outline: none;
  margin-inline: 10%;
  width: 80%;
}

.TodoSearch:disabled {
  opacity: 25%;
}

.TodoSearch:disabled:hover {
  background: transparent;
  width: 70%;
  margin-inline: 15%;
}
